@CHARSET "UTF-8";

/***************************************************/
/*		Le fichier CSS lie au composant NestList.  */
/***************************************************/

div.nestedlisting {
	visibility: hidden;
}

div.nestedlisting > table {	
	width:				99%;
	margin : 10px 5px;
	border: 1px solid black;
}

div.nestedlisting table {
	border-collapse: collapse;
}

div.nestedlisting a {
	text-decoration: underline;
	cursor: pointer;
}

div.nestedlisting .ui-icon {
	cursor: pointer;
}

div.nestedlisting * {
	padding: 0;
	margin: 0;
}

div.nestedlisting thead > tr th {
	border-left:		1px solid black;
	border-top:			1px solid black;
	border-bottom:		1px solid black;
}

div.nestedlisting thead > tr th:first-child {
	border-left:		none;
}

div.nestedlisting table th {
	background-repeat: no-repeat;
	background-position: center right;
	text-align:			center;
	font-size:			100%;
	padding: 			2px 20px 2px 20px;
}

div.nestedlisting table th.sortable {
	background-image: 	url(../images/sort.gif);
	cursor: 			pointer;
}

div.nestedlisting table th.sortDesc {
	background-image: url(../images/desc.gif);
}

div.nestedlisting table th.sortAsc {	
	background-image: url(../images/asc.gif);
}

div.nestedlisting table td {
	font-size:			100%;
    padding: 			0 20px;
}

div.nestedlisting td.emptyList {
	text-align: center;
	padding: 50px 20px;
	font-size: 200%;
}

div.nestedlisting td.checkbox,
div.nestedlisting th.checkbox {
	width : 50px;
}

/****************************************************/
/*		Icons.  		   							*/
/****************************************************/
div.nestedlisting td.open_marker div.ui-icon {
	background-position: 0 -96px;
}

div.nestedlisting td.open_marker.expanded div.ui-icon {
	background-position: -16px -96px;
}

/****************************************************/
/*		Mise en forme du bouton d'envoi.  		   	*/
/****************************************************/

div.nestedlisting form button {
	width: 200px;
	margin: 3px 3px 3px 3px;
}

div.nestedlisting form label span {
	margin: 0 0 0 20px;
}

/****************************************************/
/*		Mise en forme des checkbox.  		   		*/
/****************************************************/

div.nestedlisting td  input[type=checkbox] {
	margin: 3px 20px 3px 20px;
}

/****************************************************/
/*		Liste dans une autre liste.  			    */
/****************************************************/

div.nestedlisting tr.nest table {
	width:					100%;
	margin: 0 0;
}

div.nestedlisting tr.nest table th {
	background-color: 	#e6e6e6;
	color:				black;	
}

div.nestedlisting tr.nest > td {
	padding : 0 0;
	margin: 0 0;
}

/****************************************************/
/*		nestedexport.				 				*/
/****************************************************/

td.export input{
	text-align: right;
	width: 30px;
}
/****************************************************/
/*		nestedimport.				 				*/
/****************************************************/
/*
div.nestedimport tr.selected {
	color: #ff0000;
}
*/
/****************************************************/
/*		Des styles de profondeur 2. 				*/
/****************************************************/

div.nestedlisting.depth2 table tbody tr {
	font-weight: bold;
	font-style: normal;
	background-color: #AAA;		
}
div.nestedlisting.depth2 table tbody table tbody tr {
	font-weight: normal;
	font-style: normal;
	background-color: #FFF;		
}

/****************************************************/
/*		Des styles de profondeur 3. 				*/
/****************************************************/

div.nestedlisting.depth3 table tbody tr {
	font-weight: bold;
	font-style: normal;
	background-color: #AAA;		
}

div.nestedlisting.depth3 table tbody table tbody tr {
	font-weight: normal;
	font-style: font-style:italic;
	background-color: #CCC;		
}

div.nestedlisting.depth3 table tbody table tbody table tbody tr {
	font-weight: normal;
	font-style: normal;
	background-color: #FFF;		
}

/****************************************************/
/*		Des styles de profondeur 4. 				*/
/****************************************************/

div.nestedlisting.depth4 table tbody tr {
	font-weight: bold;
	font-style: normal;
	background-color: #AAA;		
}
div.nestedlisting.depth4 table tbody table tbody tr {
	font-weight: normal;
	font-style: font-style:italic;
	background-color: #CCC;		
}
div.nestedlisting.depth4 table tbody table tbody table tbody tr {
	font-weight: normal;
	font-style: normal;
	background-color: #EEE;		
}
div.nestedlisting.depth4 table tbody table tbody table tbody table tbody tr  {
	font-weight: normal;
	font-style: normal;
	background-color: #FFF;		
}







